@media screen and (max-width: 767px)
    .vision-mision-valores .row .cont-cards .cdr:hover .cont-hover-cards
        width: 100%
        height: auto
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.23)
        background-color: transparent
        width: 100%
        height: 415px    
    .vision-mision-valores .row .cont-cards .cdr .cont-hover-cards
        position: static
        width: 100%
    .equipo .cont-equipo .c-derecha .primer-equipo
        width: 100%
    .equipo
        padding: 0
    .sec-cards .row .cont-cards .cdr:hover .cont-hover-cards
        width: 100%
        height: 100%
        background-color: transparent
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0)        
    .sec-cards .row .cont-cards .cdr .cont-hover-cards
        position: static
    .col-12
        p
            font-size: 12px
    .resp-social .video-resp .vid-text .txt-p
        display: none
    .resp-social .video-resp .vid-text .container .row p
        font-size: 1em
    .cont-contact .mapa-cont .contactanos-box
        display: none
    .deseas .container-fluid .row .col-12:nth-child(1) .des-txt h5
        font-size: 1.5em
    .linea .container-fluid .row div:nth-child(1)
        padding: 0px 10px
    .linea .container-fluid .row div:nth-child(1)
        padding: 0px 10px
    .deseas .container-fluid .row .col-12:nth-child(2) h5
        font-size: 1.5em
    .reconocimientos .container .row div:nth-child(1) h3
        font-size: 1.5em
    .reconocimientos .container .row div:nth-child(1) p
        font-size: 1.2em