doctype html
html(lang='es')
	head
		meta(charset="utf-8")
		meta(name="description" content="Contenido de la pagina web max 150")
		meta(name="keywords" content="palabras, clave , del , la, pagina, web max 20")
		meta(name="author" content="shadowbeat274")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title Titulo de la paginas max 70 palabras
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/fontawesome-all.min.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
		link(rel="stylesheet", href="css/styles.css")
	body
		div.header
			.container
				nav.menu
					.logo
						a(href="") Hestia
					.menu-a
						a(href="")  FEATURES
						a(href="")  SECTION
						a(href="")  SHOP
						a(href="")  BLOG
						a(href="")  CONTACT
					.descarga
						a(href="") DOWNLOAD
				.contenedor-texto
					h1.slick Slick Material Design
					p.slick-text Beautiful, Elegantly Coded, One-Page WordPress Theme for Business






