doctype html
html(lang='es')
	head
		meta(charset="utf-8")
		meta(name="description" content="Contenido de la pagina web max 150")
		meta(name="keywords" content="palabras, clave , del , la, pagina, web max 20")
		meta(name="author" content="shadowbeat274")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title Titulo de la paginas max 70 palabras
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/fontawesome-all.min.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
		link(rel="stylesheet", href="css/styles.css")
	body
		div.header
			.container
				nav.menu
					.logo
						a(href="") Hestia
					.menu-a
						a(href="")  FEATURES
						a(href="")  SECTION
						a(href="")  SHOP
						a(href="")  BLOG
						a(href="")  CONTACT
						a(href="") DOWNLOAD
				.contenedor-texto
					h1.slick Slick Material Design
					p.slick-text Beautiful, Elegantly Coded, One-Page WordPress Theme for Business
					input(type="submit" value="SEE MORE" class="see")
		.main
			.container
				.informacion
					.informacion-basica
						p This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here.
					.informacion-dividida
						.responsive
							span(class="fas fa-window-restore")
							h4 Responsive
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.quality
							span(class="fab fa-steam-square")
							h4 Quality
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.support
							span(class="fas fa-life-ring")
							h4 Support
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.who-are
					.who1
						.who-texto
							h4 Who are we now
							p deate integrate food-truck agile ideate thinker-maker-doer user story intuitive hacker integrate workflow Steve Jobs. Steve Jobs pair programming food-truck big data long shadow SpaceTeam agile agile affordances.
							p User centered design food-truck experiential minimum viable product human-centered design prototype viral quantitative vs. qualitative.
						.who-image
							img(src="https://20206-presscdn-pagely.netdna-ssl.com/hestia/wp-content/uploads/sites/89/2016/10/about.png", alt="")
					.who2
						.who-video
							iframe(src="https://www.youtube.com/embed/Yy52Orp6AK4", frameborder="0")
				.products
					h4.titulo Products
					p.showcase Showcase your products in this beautiful shop section.
					.container-products
						.producto
							img(src="img/product2-230x350.jpg", alt="")
							a(href="" class="trending") TRENDING
							a(href="" class="handbag") Handbag Pouch Set
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere neque inventore sit saepe accusantium.
							.precio
								span(class="precios") $82.00 – $99.00
								span(class="fas fa-cart-plus")
						.producto
							img(src="img/card-product3-2-230x350.png", alt="")
							a(href="" class="trending") TRENDING
							a(href="" class="handbag") Handbag Pouch Set
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere neque inventore sit saepe accusantium.
							.precio
								span(class="precios") $82.00 – $99.00
								span(class="fas fa-cart-plus") 
						.producto
							img(src="img/card-product1-230x350.jpg", alt="")
							a(href="" class="trending") TRENDING
							a(href="" class="handbag") Handbag Pouch Set
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere neque inventore sit saepe accusantium.
							.precio
								span(class="precios") $82.00 – $99.00
								span(class="fas fa-cart-plus") 
						.producto
							img(src="img/card-product2-230x350.jpg", alt="")
							a(href="" class="trending") TRENDING
							a(href="" class="handbag") Handbag Pouch Set
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere neque inventore sit saepe accusantium.
							.precio
								span(class="precios") $82.00 – $99.00
								span(class="fas fa-cart-plus") 
				.meet
					h4 Meet our team
					p Prove that you have real people working for you, with some nice looking profile pictures and links to social media.
					.container-meet
						.meet1
							.meet-img
								img(src="img/1.jpg", alt="")
							.meet-text
								h5 Alec Thompson
								span FOUNDER
								p Don't be scared of the truth because we need to restart the human foundation in truth...
								a(href="" class="fab fa-linkedin-in")
								a(href="" class="fab fa-twitter")
								a(href="" class="fab fa-google-plus-g")
								a(href="" class="fab fa-facebook-f")
						.meet1
							.meet-img
								img(src="img/2.jpg", alt="")
							.meet-text
								h5 Alec Thompson
								span FOUNDER
								p Don't be scared of the truth because we need to restart the human foundation in truth...
								a(href="" class="fab fa-linkedin-in")
								a(href="" class="fab fa-twitter")
								a(href="" class="fab fa-google-plus-g")
								a(href="" class="fab fa-facebook-f")
						.meet1
							.meet-img
								img(src="img/3.jpg", alt="")
							.meet-text
								h5 Alec Thompson
								span FOUNDER
								p Don't be scared of the truth because we need to restart the human foundation in truth...
								a(href="" class="fab fa-linkedin-in")
								a(href="" class="fab fa-twitter")
								a(href="" class="fab fa-google-plus-g")
								a(href="" class="fab fa-facebook-f")
						.meet1
							.meet-img
								img(src="img/4.jpg", alt="")
							.meet-text
								h5 Alec Thompson
								span FOUNDER
								p Don't be scared of the truth because we need to restart the human foundation in truth...
								a(href="" class="fab fa-linkedin-in")
								a(href="" class="fab fa-twitter")
								a(href="" class="fab fa-google-plus-g")
								a(href="" class="fab fa-facebook-f")

