footer
    .f-menu
        a(href='/log/') Nosotros
        a(href='/log/') Proyectos        
        a(href='/log/') Reconocimientos
        a(href='/log/') Contacto
        p.ml-5 Síguenos
        a(href='')
            i.fab.fa-linkedin-in
        a(href='')
            i.fab.fa-facebook-f
    .f-terminos
        a(href='/log/') Términos y Condiciones
script(src='../js/jq.js')
script(src='../js/owl.carousel.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js")
script(src='../js/main.js')