header
    nav
        .cont-txt-nav.d-flex.justify-content-around.flex-wrap            
            .con-palabras
                a(href='./quienes.html') Nosotros
                //- a(href='./proyectos.html') Proyectos                
                a(href='./reconocimientos.html') Reconocimientos
            .con-contacto
                a(href='./contacto.html') Contacto
