header
    nav
        .cont-txt-nav.d-flex.justify-content-around.flex-wrap            
            .con-palabras
                a(href='/nosotros/') Nosotros
                a(href='/log/') Proyectos
                a(href='/log/') Responsabilidad Social
                a(href='/log/') Reconocimientos
                a(href='/log/') Noticias
                a(href='/log/') Inversionistas
            .con-contacto
                a(href='/log/') Contacto
