.botton-noticias
    p Últimas noticias
    svg(xmlns='http://www.w3.org/2000/svg', width='26', height='37', viewBox='0 0 26 37')
        g(fill='none', fill-rule='evenodd', stroke='#FFF', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
            path(d='M25 1.919L1.757 18.084 25 36')
            path(d='M23 13.919L15.757 18.7 23 24')
.noticias
    .triangulo-equilatero-bottom-left
    .triangulo-cerrar
        svg(xmlns='http://www.w3.org/2000/svg', width='26', height='37', viewBox='0 0 26 37')
            g(fill='none', fill-rule='evenodd', stroke='#FFF', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                path(d='M25 1.919L1.757 18.084 25 36')
                path(d='M23 13.919L15.757 18.7 23 24')
    h5 Últimas noticias
    .noticia.mt-4.pb-5
        .clima.d-flex.justify-content-between
            span Sol de Tampico
            span Categoría 1
        .noti-txt
            p
                | Tamaulipas incursiona con fuerza en energías limpias 
                span Noviembre 27, 2018
        .leer.d-flex.justify-content-end
            a.d-flex.align-items-center(href='')
                | LEER MÁS
                svg.ml-3(xmlns='http://www.w3.org/2000/svg', width='60', height='11', viewBox='0 0 60 11')
                    g(fill='none', fill-rule='evenodd', stroke='#FFF', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                        path(d='M1 5h10M17 4.95h27M53.5 9.5l5-3.795-5-4.205')
    .noticia.mt-4.pb-5
        .clima.d-flex.justify-content-between
            span Sol de Tampico
            span Categoría 1
        .noti-txt
            p
                | Tamaulipas incursiona con fuerza en energías limpias 
                span Noviembre 27, 2018
        .leer.d-flex.justify-content-end
            a.d-flex.align-items-center(href='')
                | LEER MÁS
                svg.ml-3(xmlns='http://www.w3.org/2000/svg', width='60', height='11', viewBox='0 0 60 11')
                    g(fill='none', fill-rule='evenodd', stroke='#FFF', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                        path(d='M1 5h10M17 4.95h27M53.5 9.5l5-3.795-5-4.205')
    .noticia.mt-4.pb-5
        .clima.d-flex.justify-content-between
            span Sol de Tampico
            span Categoría 1
        .noti-txt
            p
                | Tamaulipas incursiona con fuerza en energías limpias 
                span Noviembre 27, 2018
        .leer.d-flex.justify-content-end
            a.d-flex.align-items-center(href='')
                | LEER MÁS
                svg.ml-3(xmlns='http://www.w3.org/2000/svg', width='60', height='11', viewBox='0 0 60 11')
                    g(fill='none', fill-rule='evenodd', stroke='#FFF', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                        path(d='M1 5h10M17 4.95h27M53.5 9.5l5-3.795-5-4.205')