nav
    width: 85%
    z-index: 2
    position: absolute
    background: transparent
    padding-top: 76px
    right: 0
    display: none
    .cont-txt-nav
        width: 100%
        .con-palabras
            // margin-right: 5%
            a:nth-child(1)
                margin-left: 0
            a
                position: relative
                color: #000
                text-decoration: none
                margin-left: 40px
                display: inline-block
                color: $negro
                &:hover
                    color: $azul
                    font-weight: 900
                &:hover:before
                    background: $azul
                    width: 100%
                &:before
                    content: ''
                    width: 0%
                    height: 2px
                    background: transparent
                    position: absolute
                    bottom: 1%
                    right: 0
                    transition: 0.6s all ease
        .con-contacto
            margin-right: 3%
            a:nth-child(1)
                margin-left: 0
            a
                color: $naranja
                text-decoration: none
                margin-left: 40px
                display: inline-block
            a:nth-child(1)
                font-weight: 600
            a:nth-child(3)
                font-size: 0.75rem
@media screen and (max-width: 629px)
    nav
        position: fixed
        width: 80%
        background: $blanco
        top: 0
        left: 0
        height: 100%
        z-index: 4
        left: 100%
        .cont-txt-nav
            margin-top: 100px
            .con-palabras
                a:nth-child(1)
                    margin-left: 40px
                a
                    display: block
            .con-contacto