
<footer>
  <div class="f-menu"><a href="/log/">Nosotros</a><a href="/log/">Proyectos        </a><a href="/log/">Reconocimientos</a><a href="/log/">Contacto</a>
    <p class="ml-5">Síguenos</p><a href=""><i class="fab fa-linkedin-in"></i></a><a href=""><i class="fab fa-facebook-f"></i></a>
  </div>
  <div class="f-terminos"><a href="/log/">Términos y Condiciones</a></div>
</footer>
<script src="../js/jq.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
<script src="../js/main.js"></script>