
<div class="botton-noticias">
  <p>Últimas noticias</p>
  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="37" viewBox="0 0 26 37">
    <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></g>
    <path d="M25 1.919L1.757 18.084 25 36"></path>
    <path d="M23 13.919L15.757 18.7 23 24"></path>
  </svg>
  <div class="noticias"></div>
  <div class="triangulo-equilatero-bottom-left"></div>
  <div class="triangulo-cerrar">
    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="37" viewBox="0 0 26 37"></svg>
    <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
      <path d="M25 1.919L1.757 18.084 25 36"></path>
      <path d="M23 13.919L15.757 18.7 23 24"></path>
    </g>
  </div>
  <h5>Últimas noticias</h5>
  <div class="noticia mt-4 pb-5">
    <div class="clima d-flex justify-content-between"></div><span>Sol de Tampico</span><span>Categoría 1</span>
    <div class="noti-txt"></div>
    <p>Tamaulipas incursiona con fuerza en energías limpias <span>Noviembre 27, 2018</span></p>
    <div class="leer d-flex justify-content-end"><a class="d-flex align-items-center" href=""></a>LEER MÁS
      <svg class="ml-3" xmlns="http://www.w3.org/2000/svg" width="60" height="11" viewBox="0 0 60 11">
        <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></g>
        <path d="M1 5h10M17 4.95h27M53.5 9.5l5-3.795-5-4.205"></path>
      </svg>
    </div>
  </div>
  <div class="noticia mt-4 pb-5">
    <div class="clima d-flex justify-content-between"></div><span>Sol de Tampico</span><span>Categoría 1</span>
    <div class="noti-txt"></div>
    <p>Tamaulipas incursiona con fuerza en energías limpias <span>Noviembre 27, 2018</span></p>
    <div class="leer d-flex justify-content-end"><a class="d-flex align-items-center" href=""></a>LEER MÁS
      <svg class="ml-3" xmlns="http://www.w3.org/2000/svg" width="60" height="11" viewBox="0 0 60 11">
        <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></g>
        <path d="M1 5h10M17 4.95h27M53.5 9.5l5-3.795-5-4.205"></path>
      </svg>
    </div>
  </div>
  <div class="noticia mt-4 pb-5">
    <div class="clima d-flex justify-content-between"></div><span>Sol de Tampico</span><span>Categoría 1</span>
    <div class="noti-txt"></div>
    <p>Tamaulipas incursiona con fuerza en energías limpias <span>Noviembre 27, 2018</span></p>
    <div class="leer d-flex justify-content-end"><a class="d-flex align-items-center" href=""></a>LEER MÁS
      <svg class="ml-3" xmlns="http://www.w3.org/2000/svg" width="60" height="11" viewBox="0 0 60 11">
        <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></g>
        <path d="M1 5h10M17 4.95h27M53.5 9.5l5-3.795-5-4.205"></path>
      </svg>
    </div>
  </div>
</div>