doctype html
html(lang='en')
  include ./components/head.pug
  body
    .contenedor-aplicacion
      include ./components/header
      include ./components/logo-triangle.pug      
      section.cont-contact
        .container-fluid
          .row
            .col-12.cont-fr
              .formulario-cont.col-10
                a.col-12.col-md-10.primer-texto
                  h3 ¿Lorem ipsum 
                    span dolor sit amet?
                  p.mt-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                form(action="" class="mt-5")
                  .form-row
                    .form-group.col-12.col-md-6.d-flex.flex-column.align-items-center
                      .lb-txt
                        span Datos obligatorios *
                        label(for="nombre") Nombre*
                        input(type="text" class="form-control" placeholder="" id="nombre")
                      .lb-txt                      
                        span Datos obligatorios *
                        label(for="email") E-mail*
                        input(type="text" class="form-control" placeholder="" id="email")
                      .lb-txt                      
                        span Datos obligatorios *
                        select(class="easy-select" id="asuntos")
                          option(value="asunto") Asunto
                          option(value="asunto") hi
                          option(value="asunto") heheh
                          option(value="asunto") huhuhuh
                        i.fas.fa-chevron-down
                    .form-group.col-12.col-md-6.d-flex.flex-column.align-items-start
                      .lb-txt-dos                  
                        span Datos obligatorios *
                        label(for="informacion" class="") Mensaje *
                        textarea(class="form-control" id="informacion")
                      .form-group.col-12
                        label.container-checkbox.mt-5
                          | I accept the processing of my  personal data
                          input(type='checkbox', checked='checked')
                          span.checkmark
                    .form-group.col-12.d-flex.justify-content-end
                      .cont-inpu       
                        input(type="submit", value="Enviar")
                        svg(xmlns='http://www.w3.org/2000/svg', width='44', height='11', viewBox='0 0 44 11')
                          g(fill='none', fill-rule='evenodd', stroke='#FFF', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                            path(d='M1 5.58h27M37 9.662l5.243-3.833L37 1.58')            
        .mapa-cont
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119501.13226836015!2d-100.48025780513426!3d20.612122843868136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d35b8fdc5b9255%3A0x97b094aa561b832f!2sSantiago+de+Quer%C3%A9taro%2C+Qro.!5e0!3m2!1sen!2smx!4v1557086762239!5m2!1sen!2smx', width='100%', height='100%', frameborder='0', style='border:0', allowfullscreen='')
          .contactanos-box
            h3.mt-3 Contáctanos
            p.mt-3 Torre Virreyes, Pedregal 24 piso 3, Col. Molino del Rey, CDMX
            span.mt-3 Tel: 
              span 52 55 52806207
    include ./components/footer.pug
