doctype html
html(lang='en')
  include ./components/head.pug
  body
    .contenedor-aplicacion
      include ./components/header.pug
      section.contenedor-inversionistas
        .container-fluid
            .row.d-flex-flex-wrap.justify-content-center
                .col-12.col-md-9
                    .inv-prin.col-12.col-md-9
                        h2 Lorem ipsum 
                            span dolor sit amet
                            |  consectetur adipiscing elit
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id dui a lacus tempus aliquam sed eu urna. Donec vel turpis a magna viverra commodo ac vitae nunc. 
                .cont-stock-price.col-12.d-flex.justify-content-center
                    .col-12.col-md-5
                        .stock-price
                            h2 SRE Stock Price
                            span 11:41 AM ET - Nov 27, 2018
                            h3 $112.46
                            h4 +0.42
                        .stock-botones.d-flex.justify-content-between
                            a(href="") HISTORIAL PRICES
                                svg(xmlns='http://www.w3.org/2000/svg', width='44', height='11', viewBox='0 0 44 11')
                                    g(fill='none', fill-rule='evenodd', stroke='#FFF', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                                        path(d='M1 5.338h27M37 9.42l5.243-3.834L37 1.338')
                            a(href="") INVESTMENT CALCULATOR
                                svg(xmlns='http://www.w3.org/2000/svg', width='44', height='11', viewBox='0 0 44 11')
                                    g(fill='none', fill-rule='evenodd', stroke='#FFF', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                                        path(d='M1 5.338h27M37 9.42l5.243-3.834L37 1.338')  
                .cont-eventos-prest.col-12.d-flex.flex-wrap.justify-content-center
                    .col-12.col-md-10
                        h2 Eventos y presentaciones
                        .table-responsive
                            table.table
                                thead
                                    tr
                                        th(scope='col') Evento
                                        th(scope='col') Detalles del evento
                                        th(scope='col') 
                                tbody
                                    tr
                                        th(scope='') Mes 00, 2018
                                            span 12:00 PM 
                                        td Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        td
                                            a.d-flex.justify-content-around
                                                i.fas.fa-file-pdf
                                                | VER PRESENTACIÓN
                                                svg(xmlns='http://www.w3.org/2000/svg', width='60', height='11', viewBox='0 0 60 11')
                                                    g(fill='none', fill-rule='evenodd', stroke='#F15A29', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                                                        path(d='M1 5h10M53.5 9.5l5-3.795-5-4.205M17 4.95h27')
                                            a.d-flex.justify-content-around
                                                i.fas.fa-volume-up
                                                | ESCUCHAR WEBCAST                                         
                                                svg(xmlns='http://www.w3.org/2000/svg', width='44', height='11', viewBox='0 0 44 11')
                                                    g(fill='none', fill-rule='evenodd', stroke='#F15A29', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                                                        path(d='M1 4.95h27M37.5 9.5l5-3.795-5-4.205')
                                    tr
                                        th(scope='') Mes 00, 2018
                                            span 12:00 PM 
                                        td Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        td
                                            a.d-flex.justify-content-around
                                                i.fas.fa-file-pdf
                                                | VER PRESENTACIÓN
                                                svg(xmlns='http://www.w3.org/2000/svg', width='60', height='11', viewBox='0 0 60 11')
                                                    g(fill='none', fill-rule='evenodd', stroke='#F15A29', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                                                        path(d='M1 5h10M53.5 9.5l5-3.795-5-4.205M17 4.95h27')
                                            a.d-flex.justify-content-around
                                                i.fas.fa-volume-up
                                                | ESCUCHAR WEBCAST                                           
                                                svg(xmlns='http://www.w3.org/2000/svg', width='44', height='11', viewBox='0 0 44 11')
                                                    g(fill='none', fill-rule='evenodd', stroke='#F15A29', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                                                        path(d='M1 4.95h27M37.5 9.5l5-3.795-5-4.205')
                                    tr
                                        th(scope='') Mes 00, 2018
                                            span 12:00 PM 
                                        td Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        td 
                                            a.d-flex.justify-content-around
                                                i.fas.fa-file-pdf
                                                | VER PRESENTACIÓN
                                                svg(xmlns='http://www.w3.org/2000/svg', width='60', height='11', viewBox='0 0 60 11')
                                                    g(fill='none', fill-rule='evenodd', stroke='#F15A29', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                                                        path(d='M1 5h10M53.5 9.5l5-3.795-5-4.205M17 4.95h27')
                                            a.d-flex.justify-content-around
                                                i.fas.fa-volume-up
                                                | ESCUCHAR WEBCAST                                           
                                                svg(xmlns='http://www.w3.org/2000/svg', width='44', height='11', viewBox='0 0 44 11')
                                                    g(fill='none', fill-rule='evenodd', stroke='#F15A29', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                                                        path(d='M1 4.95h27M37.5 9.5l5-3.795-5-4.205')
                            .table-ver-mas.d-flex.justify-content-center.mt-5
                                .cont-inpu
                                    input(type="submit", value="VER MÁS" )
                                    svg(xmlns='http://www.w3.org/2000/svg', width='44', height='11', viewBox='0 0 44 11')
                                        g(fill='none', fill-rule='evenodd', stroke='#FFF', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                                            path(d='M1 5.58h27M37 9.662l5.243-3.833L37 1.58')                         
                .noticias-financieras-recientes.col-12.d-flex.flex-wrap.justify-content-center.mt-5
                    .col-10
                        h2 Noticias financieras recientes
                        .not-financiera.mt-5
                            h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            span Mes 00, 2018
                            p.mt-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id dui a lacus tempus aliquam sed eu urna. Donec vel turpis a magna viverra commodo ac vitae nunc. 
                            .leer-news.mt-4
                                span LEER MÁS
                                svg.ml-3.f-recta(xmlns='http://www.w3.org/2000/svg', width='50', height='11', viewBox='0 0 60 11')
                                    g(fill='none', fill-rule='evenodd', stroke='#fe6e4f', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                                        path(d='M1 5h10M17 4.95h27M53.5 9.5l5-3.795-5-4.205')
                        .not-financiera.mt-5
                            h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            span Mes 00, 2018
                            p.mt-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id dui a lacus tempus aliquam sed eu urna. Donec vel turpis a magna viverra commodo ac vitae nunc. 
                            .leer-news.mt-4
                                span LEER MÁS
                                svg.ml-3.f-recta(xmlns='http://www.w3.org/2000/svg', width='50', height='11', viewBox='0 0 60 11')
                                    g(fill='none', fill-rule='evenodd', stroke='#fe6e4f', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                                        path(d='M1 5h10M17 4.95h27M53.5 9.5l5-3.795-5-4.205')
                        .not-financiera.mt-5
                            h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            span Mes 00, 2018
                            p.mt-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id dui a lacus tempus aliquam sed eu urna. Donec vel turpis a magna viverra commodo ac vitae nunc. 
                            .leer-news.mt-4
                                span LEER MÁS
                                svg.ml-3.f-recta(xmlns='http://www.w3.org/2000/svg', width='50', height='11', viewBox='0 0 60 11')
                                    g(fill='none', fill-rule='evenodd', stroke='#fe6e4f', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                                        path(d='M1 5h10M17 4.95h27M53.5 9.5l5-3.795-5-4.205')
                        div.d-flex.flex-wrap.justify-content-center.mt-5
                            .cont-inpu
                                input(type="submit", value="VER TODAS" )
                                svg(xmlns='http://www.w3.org/2000/svg', width='44', height='11', viewBox='0 0 44 11')
                                    g(fill='none', fill-rule='evenodd', stroke='#FFF', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                                        path(d='M1 5.58h27M37 9.662l5.243-3.833L37 1.58')
                .reportes-financieros.col-12.d-flex.flex-wrap.justify-content-center.mt-5
                    .col-12.col-md-10
                        h2 Reportes financieros
                        .table-responsive
                            table.table                                
                                tbody
                                    tr
                                        th(scope='') 2017
                                        td Annual Report
                                        td
                                            a.d-flex.justify-content-center.align-items-center
                                                i.fas.fa-download
                                                | VER PRESENTACIÓN
                                                svg(xmlns='http://www.w3.org/2000/svg', width='60', height='11', viewBox='0 0 60 11')
                                                    g(fill='none', fill-rule='evenodd', stroke='#F15A29', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                                                        path(d='M1 5h10M53.5 9.5l5-3.795-5-4.205M17 4.95h27')
                                    tr
                                        th(scope='') 2017
                                        td Annual Report
                                        td
                                            a.d-flex.justify-content-center.align-items-center
                                                i.fas.fa-download
                                                | VER PRESENTACIÓN
                                                svg(xmlns='http://www.w3.org/2000/svg', width='60', height='11', viewBox='0 0 60 11')
                                                    g(fill='none', fill-rule='evenodd', stroke='#F15A29', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                                                        path(d='M1 5h10M53.5 9.5l5-3.795-5-4.205M17 4.95h27')
                                    tr
                                        th(scope='') 2017
                                        td Annual Report
                                        td
                                            a.d-flex.justify-content-center.align-items-center
                                                i.fas.fa-download
                                                | VER PRESENTACIÓN
                                                svg(xmlns='http://www.w3.org/2000/svg', width='60', height='11', viewBox='0 0 60 11')
                                                    g(fill='none', fill-rule='evenodd', stroke='#F15A29', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                                                        path(d='M1 5h10M53.5 9.5l5-3.795-5-4.205M17 4.95h27')
                .deseas-contactarnos-gris-completo.col-12.d-flex.justify-content-center.align-items-center
                    .contenedor-dese-gris.d-flex.flex-wrap.align-items-center.justify-content-around
                        h2.col-6 ¿Deseas contáctarnos?
                        svg(xmlns='http://www.w3.org/2000/svg', width='120', height='11', viewBox='0 0 120 11')
                            g(fill='none', fill-rule='evenodd', stroke='#F15A29', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                                path(d='M1 5h10M17 4.95h90.133M114 9.5l5-3.795-5-4.205')
      include ./components/footer.pug
