doctype html
html(lang='en')
  include ./components/head.pug
  body
    .contenedor-aplicacion
      include ./components/header.pug
      //- include ./components/noticias-bloque.pug
      section.noticias-pagina
        .container-fluid
          .row.d-flex.flex-wrap.justify-content-center
            .col-12.txt-news-prin
              p.col-12.col-md-6.col-lg-5.offset-0.offset-md-1
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            .col-12.col-lg-5.d-flex.justify-content-center.align-items-center              
              .articulos
                a(href="" class="cate-activo-naranja") Todos los artículos (10)
                a(href="") Categoría 1 (6)
                a(href="") Categoría 2 (2)
                a(href="") Categoría 3 (2)
            .col-12.col-lg-6.news-c
              .cdr-news.d-flex.flex-column.flex-md-row
                figure
                  img(src="../img/noticias/1.jpg", alt="NEws")
                .cont-art
                  span Sol de Tampico
                  span.categoria Categoría 1
                  .txt-prin
                    p Tamaulipas incursiona con fuerza en energías limpias
                    span Noviembre 27, 2018
                    a(href="#").leer-news
                      span LEER MÁS
                      svg.ml-3.f-recta(xmlns='http://www.w3.org/2000/svg', width='50', height='11', viewBox='0 0 60 11')
                        g(fill='none', fill-rule='evenodd', stroke='#fe6e4f', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                          path(d='M1 5h10M17 4.95h27M53.5 9.5l5-3.795-5-4.205')
              .cdr-news.d-flex.flex-column.flex-md-row
                figure
                  img(src="../img/noticias/1.jpg", alt="NEws")
                .cont-art
                  span Sol de Tampico
                  span.categoria Categoría 1
                  .txt-prin
                    p Tamaulipas incursiona con fuerza en energías limpias
                    span Noviembre 27, 2018
                    a(href="#").leer-news
                      span LEER MÁS
                      svg.ml-3.f-recta(xmlns='http://www.w3.org/2000/svg', width='50', height='11', viewBox='0 0 60 11')
                        g(fill='none', fill-rule='evenodd', stroke='#fe6e4f', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                          path(d='M1 5h10M17 4.95h27M53.5 9.5l5-3.795-5-4.205')
              .cdr-news.d-flex.flex-column.flex-md-row
                figure
                  img(src="../img/noticias/1.jpg", alt="NEws")
                .cont-art
                  span Sol de Tampico
                  span.categoria Categoría 1
                  .txt-prin
                    p Tamaulipas incursiona con fuerza en energías limpias
                    span Noviembre 27, 2018
                    a(href="#").leer-news
                      span LEER MÁS
                      svg.ml-3.f-recta(xmlns='http://www.w3.org/2000/svg', width='50', height='11', viewBox='0 0 60 11')
                        g(fill='none', fill-rule='evenodd', stroke='#fe6e4f', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                          path(d='M1 5h10M17 4.95h27M53.5 9.5l5-3.795-5-4.205')
              .cdr-news.d-flex.flex-column.flex-md-row
                figure
                  img(src="../img/noticias/1.jpg", alt="NEws")
                .cont-art
                  span Sol de Tampico
                  span.categoria Categoría 1
                  .txt-prin
                    p Tamaulipas incursiona con fuerza en energías limpias
                    span Noviembre 27, 2018
                    a(href="#").leer-news
                      span LEER MÁS
                      svg.ml-3.f-recta(xmlns='http://www.w3.org/2000/svg', width='50', height='11', viewBox='0 0 60 11')
                        g(fill='none', fill-rule='evenodd', stroke='#fe6e4f', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                          path(d='M1 5h10M17 4.95h27M53.5 9.5l5-3.795-5-4.205')
      include ./components/footer.pug
