doctype html
html(lang='en')
  include ./components/head.pug
  body
    .contenedor-aplicacion
      include ./components/header
      section.proyectos
        h2 PRoyectos
    include ./components/footer.pug
