doctype html
html(lang='en')
  include ./components/head.pug
  body
    .contenedor-aplicacion
      include ./components/logo-triangle.pug
      include ./components/header
      section.slider-quienes-somos
        .botones-slider-quienes-somos.botones-slider-quienes-somos-bottom
        .cont-slider-quienes
          //- .item-video(data-merge='3', style='height: 347px;', data-hash="uno")
          //-   video(controls='false', preload='auto', width='100%', height='auto', poster='', data-description='Lorem ipsum dolor amet')
          //-     source(src='https://r2---sn-q4flrnes.googlevideo.com/videoplayback?beids=23800709&gir=yes&c=WEB&key=cms1&pl=24&ei=dDCiXI30HL3w7AS00ZzIDw&signature=46B3AA156021AAAA645E8715BB0CF30812207197.7403A04EBD41A41EB765C9A4A7B4EE83F5AA056F&clen=15845354&ip=46.229.67.198&sparams=clen,dur,ei,expire,gir,id,ip,ipbits,ipbypass,itag,lmt,mime,mip,mm,mn,ms,mv,pl,ratebypass,requiressl,source&itag=18&lmt=1390050407192314&requiressl=yes&id=o-AAJ0eeeF99jpkDEtc0rrCZ6-opXu98AxLatOZ-NHhl2g&fvip=9&source=youtube&dur=210.326&mime=video%2Fmp4&ipbits=0&ratebypass=yes&expire=1554154708&video_id=u_xy6mTZKbE&title=Steff+and+The+Articles+-+%27Two+Cities%27+%28OFFICIAL+MUSIC+VIDEO%29&rm=sn-gvnuxaxjvh-c5me7d,sn-n8vyl7y&fexp=23800709&req_id=84ccbae0f2fba3ee&ipbypass=yes&mip=187.188.203.99&cm2rm=sn-uvu5a2a5t-hxme67l,sn-9gvey7l&redirect_counter=4&cms_redirect=yes&mm=34&mn=sn-q4flrnes&ms=ltu&mt=1554132295&mv=u', type='video/mp4')
          figure(data-hash="dos")
            img(src='../img/quienes/slider/1.png', alt='')
          //- figure(data-hash="tres")
          //-   img(src='../img/quienes/slider/1.png', alt='')
          //- figure(data-hash="cuatro")
          //-   img(src='../img/quienes/slider/1.png', alt='')
          //- .item-video(data-merge='3', style='height: 347px;' data-hash="cinco")
          //-   video(controls='false', preload='auto', width='100%', height='auto', poster='', data-description='Lorem ipsum dolor amet')
          //-     source(src='https://r2---sn-q4flrnes.googlevideo.com/videoplayback?beids=23800709&gir=yes&c=WEB&key=cms1&pl=24&ei=dDCiXI30HL3w7AS00ZzIDw&signature=46B3AA156021AAAA645E8715BB0CF30812207197.7403A04EBD41A41EB765C9A4A7B4EE83F5AA056F&clen=15845354&ip=46.229.67.198&sparams=clen,dur,ei,expire,gir,id,ip,ipbits,ipbypass,itag,lmt,mime,mip,mm,mn,ms,mv,pl,ratebypass,requiressl,source&itag=18&lmt=1390050407192314&requiressl=yes&id=o-AAJ0eeeF99jpkDEtc0rrCZ6-opXu98AxLatOZ-NHhl2g&fvip=9&source=youtube&dur=210.326&mime=video%2Fmp4&ipbits=0&ratebypass=yes&expire=1554154708&video_id=u_xy6mTZKbE&title=Steff+and+The+Articles+-+%27Two+Cities%27+%28OFFICIAL+MUSIC+VIDEO%29&rm=sn-gvnuxaxjvh-c5me7d,sn-n8vyl7y&fexp=23800709&req_id=84ccbae0f2fba3ee&ipbypass=yes&mip=187.188.203.99&cm2rm=sn-uvu5a2a5t-hxme67l,sn-9gvey7l&redirect_counter=4&cms_redirect=yes&mm=34&mn=sn-q4flrnes&ms=ltu&mt=1554132295&mv=u', type='video/mp4')          
      section.container-fluid.vision-mision-valores
        .row.d-flex.flex-column.align-items-center
          article.col-12.c-txt.d-flex.justify-content-center
            p.col-12.col-md-8
              | Zuma Energía es una empresa mexicana dedicada a la generación de electricidad
              | a partir de fuentes renovables.
          article.col-10.cont-cards.d-flex.flex-column.flex-md-row.align-items-center.justify-content-around
            .cdr.col-6.col-md-3.d-flex.justify-content-center.align-items-center
              .cont-hover-cards
                .con-cdr
                  h2 Misión
                  p
                    | Consolidar nuestro liderazgo en el sector mexicano de energías renovables a través de la planeación, desarrollo 
                    span.puntitos ...
                    span Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate culpa error natus quis nostrum temporibus dolorem architecto laborum obcaecati fuga doloribus facere et aperiam porro, officia deserunt fugit eligendi aliquid!
            .cdr.col-6.col-md-3.d-flex.justify-content-center.align-items-center
              .cont-hover-cards
                .con-cdr
                  h2 Visión
                  p
                    | Ser protagonistas en la transformación energética de México hacia una matriz competitiva 
                    span.puntitos ...
                    span Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, explicabo. Dicta voluptates temporibus accusamus a voluptatibus? Similique facilis doloribus enim rerum quam, ipsa tempora voluptate deleniti tenetur unde! Explicabo, eius.
            .cdr.col-6.col-md-3.d-flex.justify-content-center.align-items-center
              .cont-hover-cards
                .con-cdr
                  h2 Valores
                  p
                    | Creemos en el poder de la colaboración para lograr un futuro energético competitivo y sustentable 
                    span.puntitos ...
                    span Nos basamos en la excelencia para la ejecución exitosa de proyectos de energía renovable, enfocándonos en la sostenibilidad de nuestros compromisos, participación social e integridad empresarial.
      section.nuestra-empresa
        .primer-cuadro.d-flex.justify-content-center.align-items-center
          p
            span Nuestra empresa se fundó en 2014
            |  a partir de las oportunidades que abrió el nuevo mercado eléctrico nacional. Estamos convencidos de que el impulso a las energías renovables tiene grandes beneficios en el crecimiento sostenible y competitivo de México.
        figure.primer-imagen
          p.col-12.col-md-7
            | Somos un productor independiente de energía renovable con un modelo integral de negocio que cubre toda la cadena de valor. Detectamos grandes proyectos con potencial para desarrollarlos, estructurarlos, financiarlos, construirlos y operarlos.
          img(src='../img/quienes/foto-1-3.png', alt='Construccion')
        .segundo-cuadro
          h2 800 MW 
          p
            | de proyectos eólicos y solares que se encuentran en operación y construcción en 4 estados de la República Mexicana.
          p
            | Con el respaldo financiero de grandes inversionistas globales (Actis y Mesoamérica).
        figure.segunda-imagen
          p.col-12.col-md-6
            | Contamos con un equipo integrado por profesionales globales que reúnen experiencia, habilidades técnicas y un profundo conocimiento de la industria y el sector eléctrico mexicano.
          img(src='../img/quienes/desierto.png', alt='Construccion')
        .tercer-cuadro.d-flex.justify-content-center.align-items-center
          p
            | Nuestros proyectos cuentan con 
            span la mejor tecnología del mercado. 
            | Construimos relaciones sólidas y de largo plazo con fabricantes y proveedores de clase mundial para garantizar la mayor efectividad en nuestras plantas.              
      section.equipo
        .container
          .row
            .col-12.col-md-5
              h3 Equipo
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        article.cont-equipo.d-flex.justify-content-center.flex-wrap.mt-5
          .c-derecha
            figure.primer-equipo
              a(href='equipo.html#zero')
                img(src='../img/quienes/equipo/1.png', alt='equipo')
              .cd-txt
                a(href='equipo.html#zero')
                  h4 ADRIÁN KATZEW - CEO
                  p
                    | A lo largo de 15 años, la carrera de Adrián se ha centrado en el financiamento, construcción…
                .cd-leer-mas.d-flex.justify-content-end.align-items-center
                  a(href='equipo.html#zero')
                    span LEER MÁS
                  a(href='')
                    svg.ml-3.f-recta(xmlns='http://www.w3.org/2000/svg', width='50', height='11', viewBox='0 0 60 11')
                      g(fill='none', fill-rule='evenodd', stroke='#fe6e4f', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                        path(d='M1 5h10M17 4.95h27M53.5 9.5l5-3.795-5-4.205')
            figure.primer-equipo
              a(href='equipo.html#one')
                img(src='../img/quienes/equipo/2.png', alt='equipo')
              .cd-txt
                a(href='equipo.html#one')
                  h4 Petros Lamprinos - COO
                  p
                    | Por más de una década, colaboró en Vestas liderando la construcción de proyectos en Grecia, México, América Central y el Caribe…
                .cd-leer-mas.d-flex.justify-content-end.align-items-center
                  a(href='equipo.html#one')
                    span LEER MÁS
                  a(href='')
                    svg.ml-3.f-recta(xmlns='http://www.w3.org/2000/svg', width='50', height='11', viewBox='0 0 60 11')
                      g(fill='none', fill-rule='evenodd', stroke='#fe6e4f', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                        path(d='M1 5h10M17 4.95h27M53.5 9.5l5-3.795-5-4.205')
            figure.primer-equipo
              a(href='equipo.html#dos')
                img(src='../img/quienes/equipo/3.png', alt='equipo')
              .cd-txt
                a(href='equipo.html#dos')
                  h4 Diana Sasse - CONSEJERA GENERAL
                  p
                    | El conocimiento legal de la industria -tanto en Alemania como en México- con el que cuenta Diana…
                .cd-leer-mas.d-flex.justify-content-end.align-items-center
                  a(href='equipo.html#dos')
                    span LEER MÁS
                  a(href='')
                    svg.ml-3.f-recta(xmlns='http://www.w3.org/2000/svg', width='50', height='11', viewBox='0 0 60 11')
                      g(fill='none', fill-rule='evenodd', stroke='#fe6e4f', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                        path(d='M1 5h10M17 4.95h27M53.5 9.5l5-3.795-5-4.205')
            figure.primer-equipo
              a(href='equipo.html#tres')
                img(src='../img/quienes/equipo/4.jpg', alt='equipo')
              .cd-txt
                a(href='equipo.html#tres')
                  h4
                    | Gianluca Liuzzi - DIRECTOR PARA MEDIO
                    | AMBIENTE, SOCIEDAD Y GOBERNANZA
                  p
                    | Con más de 20 años de experiencia en el sector energético, petrolero y de industrias de extracción...
                .cd-leer-mas.d-flex.justify-content-end.align-items-center
                  a(href='equipo.html#tres')
                    span LEER MÁS
                  a(href='')
                    svg.ml-3.f-recta(xmlns='http://www.w3.org/2000/svg', width='50', height='11', viewBox='0 0 60 11')
                      g(fill='none', fill-rule='evenodd', stroke='#fe6e4f', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                        path(d='M1 5h10M17 4.95h27M53.5 9.5l5-3.795-5-4.205')
          .c-izquierda.d-flex.flex-column.justify-content-center
            figure.primer-equipo
              a(href='equipo.html#cuatro')
                img(src='../img/quienes/equipo/1.1.jpg', alt='equipo')
              .cd-txt
                a(href='equipo.html#cuatro')
                  h4 José Luis García - CDO
                  p
                    | Su experiencia y habilidades técnicas le han permitido ocupar posiciones directivas y gerenciales en compañías multinacionales…
                .cd-leer-mas.d-flex.justify-content-end.align-items-center
                  a(href='equipo.html#cuatro')
                    span LEER MÁS
                  a(href='')
                    svg.ml-3.f-recta(xmlns='http://www.w3.org/2000/svg', width='50', height='11', viewBox='0 0 60 11')
                      g(fill='none', fill-rule='evenodd', stroke='#fe6e4f', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                        path(d='M1 5h10M17 4.95h27M53.5 9.5l5-3.795-5-4.205')
            figure.primer-equipo
              a(href='equipo.html#cinco')
                img(src='../img/quienes/equipo/2.2.jpg', alt='equipo')
              .cd-txt
                a(href='equipo.html#cinco')
                  h4 Hélène Dimitracopoulos - CFO
                  p Hélène comenzó su carrera en el sector energético en Engie hace 15 años...
                .cd-leer-mas.d-flex.justify-content-end.align-items-center
                  a(href='equipo.html#cinco')
                    span LEER MÁS
                  a(href='')
                    svg.ml-3.f-recta(xmlns='http://www.w3.org/2000/svg', width='50', height='11', viewBox='0 0 60 11')
                      g(fill='none', fill-rule='evenodd', stroke='#fe6e4f', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                        path(d='M1 5h10M17 4.95h27M53.5 9.5l5-3.795-5-4.205')
            figure.primer-equipo
              a(href='equipo.html#seis')
                img(src='../img/quienes/equipo/3.3.jpg', alt='equipo')
              .cd-txt
                a(href='equipo.html#seis')
                  h4
                    | Ramón Salcedo - DIRECTOR DE
                    | ESTRUCTURACIÓN FINANCIERA
                  p
                    | Inició su Carrera en PwC en Madrid, España. Posteriormente se mudó a México para ocupar el…
                .cd-leer-mas.d-flex.justify-content-end.align-items-center
                  a(href='equipo.html#seis')
                    span LEER MÁS
                  a(href='')
                    svg.ml-3.f-recta(xmlns='http://www.w3.org/2000/svg', width='50', height='11', viewBox='0 0 60 11')
                      g(fill='none', fill-rule='evenodd', stroke='#fe6e4f', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                        path(d='M1 5h10M17 4.95h27M53.5 9.5l5-3.795-5-4.205')      
      section.deseas
        .container-fluid
          .row
            .col-12.col-md-6.d-flex.justify-content-center.align-items-center
              .des-txt.d-flex.justify-content-center.align-items-center
                h5 ¿Deseas contactarnos?
                a(href='')
                  svg.ml-3.f-recta(xmlns='http://www.w3.org/2000/svg', width='50', height='11', viewBox='0 0 60 11')
                    g(fill='none', fill-rule='evenodd', stroke='#fe6e4f', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                      path(d='M1 5h10M17 4.95h27M53.5 9.5l5-3.795-5-4.205')
            .col-12.col-md-6.d-flex.align-items-center.justify-content-center
              h5 Únete a nuestro equipo
      include ./components/footer.pug
