doctype html
html(lang='en')
  include ./components/head.pug
  body
    .contenedor-aplicacion
      include ./components/logo-triangle.pug
      include ./components/header
      section.slider-quienes-somos
        .botones-slider-quienes-somos.botones-slider-quienes-somos-bottom
        .cont-slider-quienes
          //- .item-video(data-merge='3', style='height: 347px;', data-hash="uno")
          //-   video(controls='false', preload='auto', width='100%', height='auto', poster='', data-description='Lorem ipsum dolor amet')
          //-     source(src='https://r2---sn-q4flrnes.googlevideo.com/videoplayback?beids=23800709&gir=yes&c=WEB&key=cms1&pl=24&ei=dDCiXI30HL3w7AS00ZzIDw&signature=46B3AA156021AAAA645E8715BB0CF30812207197.7403A04EBD41A41EB765C9A4A7B4EE83F5AA056F&clen=15845354&ip=46.229.67.198&sparams=clen,dur,ei,expire,gir,id,ip,ipbits,ipbypass,itag,lmt,mime,mip,mm,mn,ms,mv,pl,ratebypass,requiressl,source&itag=18&lmt=1390050407192314&requiressl=yes&id=o-AAJ0eeeF99jpkDEtc0rrCZ6-opXu98AxLatOZ-NHhl2g&fvip=9&source=youtube&dur=210.326&mime=video%2Fmp4&ipbits=0&ratebypass=yes&expire=1554154708&video_id=u_xy6mTZKbE&title=Steff+and+The+Articles+-+%27Two+Cities%27+%28OFFICIAL+MUSIC+VIDEO%29&rm=sn-gvnuxaxjvh-c5me7d,sn-n8vyl7y&fexp=23800709&req_id=84ccbae0f2fba3ee&ipbypass=yes&mip=187.188.203.99&cm2rm=sn-uvu5a2a5t-hxme67l,sn-9gvey7l&redirect_counter=4&cms_redirect=yes&mm=34&mn=sn-q4flrnes&ms=ltu&mt=1554132295&mv=u', type='video/mp4')
          figure(data-hash="dos")
            img(src='../img/quienes/slider/1.png', alt='')
          //- figure(data-hash="tres")
          //-   img(src='../img/quienes/slider/1.png', alt='')
          //- figure(data-hash="cuatro")
          //-   img(src='../img/quienes/slider/1.png', alt='')
          //- .item-video(data-merge='3', style='height: 347px;' data-hash="cinco")
          //-   video(controls='false', preload='auto', width='100%', height='auto', poster='', data-description='Lorem ipsum dolor amet')
          //-     source(src='https://r2---sn-q4flrnes.googlevideo.com/videoplayback?beids=23800709&gir=yes&c=WEB&key=cms1&pl=24&ei=dDCiXI30HL3w7AS00ZzIDw&signature=46B3AA156021AAAA645E8715BB0CF30812207197.7403A04EBD41A41EB765C9A4A7B4EE83F5AA056F&clen=15845354&ip=46.229.67.198&sparams=clen,dur,ei,expire,gir,id,ip,ipbits,ipbypass,itag,lmt,mime,mip,mm,mn,ms,mv,pl,ratebypass,requiressl,source&itag=18&lmt=1390050407192314&requiressl=yes&id=o-AAJ0eeeF99jpkDEtc0rrCZ6-opXu98AxLatOZ-NHhl2g&fvip=9&source=youtube&dur=210.326&mime=video%2Fmp4&ipbits=0&ratebypass=yes&expire=1554154708&video_id=u_xy6mTZKbE&title=Steff+and+The+Articles+-+%27Two+Cities%27+%28OFFICIAL+MUSIC+VIDEO%29&rm=sn-gvnuxaxjvh-c5me7d,sn-n8vyl7y&fexp=23800709&req_id=84ccbae0f2fba3ee&ipbypass=yes&mip=187.188.203.99&cm2rm=sn-uvu5a2a5t-hxme67l,sn-9gvey7l&redirect_counter=4&cms_redirect=yes&mm=34&mn=sn-q4flrnes&ms=ltu&mt=1554132295&mv=u', type='video/mp4')          
      section.container-fluid.vision-mision-valores
        .row.d-flex.flex-column.align-items-center
          article
            h2 Lorem
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae magni, ratione ullam vero corporis, repellat iure a soluta quisquam nostrum cum numquam placeat. Maiores delectus, inventore nostrum explicabo nam nesciunt.          
          article
            h2 Lorem
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae magni, ratione ullam vero corporis, repellat iure a soluta quisquam nostrum cum numquam placeat. Maiores delectus, inventore nostrum explicabo nam nesciunt.                      
      //- section.nuestra-empresa
      //-   .primer-cuadro.d-flex.justify-content-center.align-items-center
      //-     p
      //-       span Nuestra empresa se fundó en 2014
      //-       |  a partir de las oportunidades que abrió el nuevo mercado eléctrico nacional. Estamos convencidos de que el impulso a las energías renovables tiene grandes beneficios en el crecimiento sostenible y competitivo de México.
      //-   figure.primer-imagen
      //-     p.col-12.col-md-7
      //-       | Somos un productor independiente de energía renovable con un modelo integral de negocio que cubre toda la cadena de valor. Detectamos grandes proyectos con potencial para desarrollarlos, estructurarlos, financiarlos, construirlos y operarlos.
      //-     img(src='../img/quienes/foto-1-3.png', alt='Construccion')
      //-   .segundo-cuadro
      //-     h2 800 MW 
      //-     p
      //-       | de proyectos eólicos y solares que se encuentran en operación y construcción en 4 estados de la República Mexicana.
      //-     p
      //-       | Con el respaldo financiero de grandes inversionistas globales (Actis y Mesoamérica).
      //-   figure.segunda-imagen
      //-     p.col-12.col-md-6
      //-       | Contamos con un equipo integrado por profesionales globales que reúnen experiencia, habilidades técnicas y un profundo conocimiento de la industria y el sector eléctrico mexicano.
      //-     img(src='../img/quienes/desierto.png', alt='Construccion')
      //-   .tercer-cuadro.d-flex.justify-content-center.align-items-center
      //-     p
      //-       | Nuestros proyectos cuentan con 
      //-       span la mejor tecnología del mercado. 
      //-       | Construimos relaciones sólidas y de largo plazo con fabricantes y proveedores de clase mundial para garantizar la mayor efectividad en nuestras plantas.              
      section.equipo
        .container
          .row
            .col-12.col-md-5
              h3 Equipo
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        article.cont-equipo.container
          .row
            .col-12.col-md-6
              .card-equip.d-flex.flex-column.align-items-center      
                figure
                  a(href='equipo.html#zero')
                    img(src='../img/quienes/equipo/1.png', alt='equipo')
                .cd-txt
                  a(href='equipo.html#zero')
                    h4 ADRIÁN KATZEW - CEO
                    p
                      | A lo largo de 15 años, la carrera de Adrián se ha centrado en el financiamento, construcción…              
            .col-12.col-md-6
              .card-equip.d-flex.flex-column.align-items-center      
                figure
                  a(href='equipo.html#zero')
                    img(src='../img/quienes/equipo/1.png', alt='equipo')
                .cd-txt
                  a(href='equipo.html#zero')
                    h4 ADRIÁN KATZEW - CEO
                    p
                      | A lo largo de 15 años, la carrera de Adrián se ha centrado en el financiamento, construcción…              
      section.deseas
        .container-fluid
          .row
            .col-12.d-flex.justify-content-center.align-items-center
              .des-txt.d-flex.justify-content-center.align-items-center
                h5 ¿Deseas contactarnos?
                a(href='')
                  svg.ml-3.f-recta(xmlns='http://www.w3.org/2000/svg', width='50', height='11', viewBox='0 0 60 11')
                    g(fill='none', fill-rule='evenodd', stroke='#fe6e4f', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                      path(d='M1 5h10M17 4.95h27M53.5 9.5l5-3.795-5-4.205')
      include ./components/footer.pug
