.slider-quienes-somos {
  width: 100%; }
  .slider-quienes-somos .cont-slider-quienes {
    width: 100%; }
    .slider-quienes-somos .cont-slider-quienes figure {
      width: 100%; }
      .slider-quienes-somos .cont-slider-quienes figure img {
        width: 100%; }
